main {
  margin-top: 54px;
  font-size: 16px;
  padding: 0 20px 100px;
  overflow: hidden;
  color: #3D4B71;
}

a {
  color: #3D4B71;
}

input, select {
  outline: none;
}

.calc {
  background-color: #3D4B71;
  display: inline-block;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

.calc h3 {
  text-align: left;
  color: #3D4B71;
  max-width: 600px;
  margin: auto;
  margin-bottom: 20px;
}

.calc > div {
  overflow: hidden;
  max-width: 600px;
  margin: auto;
}

.calc h2 {
  margin-bottom: 50px;
}

.calc .leftOption {
  float: left;
  width: 50%;
  text-align: left;
}

.calc .rightOption {
  float: right;
  width: 50%;
  text-align: right;
}

.calc .rightOption a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
}

.calc .rightOption a:hover {
  background-color: #2e3a5c;
}

.calc .rightOption a img {
  display: block;
  height: 30px;
  width: 30px;
}

.calc h4 {
  margin-bottom: 10px;
}

.calc h4:last-of-type {
  color: #F2923B;
}

.calc .inputContainer {
  position: relative;
  border-radius: 10px;
  margin-bottom: 50px;
}

.calc .inputContainer #bankLogo {
  width: 40px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: 0;
  top: 5px;
}

.calc .inputContainer input {
  width: calc(100% - 80px);
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 40px;
  border: none;
  padding: 0 20px;
}

.calc .inputContainer input::-webkit-input-placeholder {
  color: #A9A9A9;
}

.calc .inputContainer input:-ms-input-placeholder {
  color: #A9A9A9;
}

.calc .inputContainer input::-ms-input-placeholder {
  color: #A9A9A9;
}

.calc .inputContainer input::placeholder {
  color: #A9A9A9;
}

.calc .inputContainer select {
  width: 80px;
  padding-right: 40px;
  text-align: center;
  display: block;
  cursor: pointer;
  float: right;
  border-radius: 0;
  height: 40px;
  border: none;
  color: #A9A9A9;
  font-size: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  text-align-last: center;
}

.calc .inputContainer select:hover {
  background-color: #f5f5f5;
}

.calc .inputContainer select::-ms-expand {
  display: none;
}

.orangeButton {
  color: white;
  background-color: #F2923B;
  max-width: 350px;
  display: block;
  margin: auto;
  line-height: 50px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  clear: both;
}

.orangeButton:hover {
  background-color: #da802f;
}

form {
  background: #F4F4F4;
  border-radius: 10px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0;
  margin-top: 50px;
  float: left;
  width: 100%;
}

form .sectionTitle {
  font-size: 28px;
}

form .tableContainer {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

form .tableContainer::-webkit-scrollbar {
  display: none;
}

form table {
  text-align: left;
  line-height: 50px;
  width: 100%;
  border-collapse: collapse;
}

form table tr {
  border-bottom: 1px solid #E8E8E8;
}

form table tr:nth-child(even) {
  background-color: #fafafa;
}

form table tr td, form table tr th {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
  white-space: nowrap;
}

form table tr td a, form table tr th a {
  border: 1px solid #ccc;
  line-height: 30px;
  border-radius: 15px;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0 10px;
}

form table tr td a:hover, form table tr th a:hover {
  border: 1px solid #555;
}

form table tr th {
  color: #888;
  padding: 0 15px 15px;
}

form button {
  padding: 0 50px;
  line-height: 60px;
  border-radius: 30px;
  background-color: #F4F4F4;
  margin: 25px 0;
  border: 1px solid #C2C3C7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

form button:hover {
  border: 1px solid #888;
  cursor: pointer;
  background-color: #fff;
}

.submitModal form {
  margin: 0;
}

.submitModal form h2 {
  font-weight: normal;
  margin-bottom: 20px;
}

.submitModal form a {
  width: calc( 50% - 20px);
  float: left;
  clear: none;
  margin: 10px;
  vertical-align: middle;
  border: 2px solid #F2923B;
  padding: 0;
}

.submitModal form a:first-of-type {
  background: #3D4B71;
}

@media (max-width: 600px) {
  .calc:first-of-type {
    margin-right: 0 !important;
  }
  main .calc {
    margin-top: 50px;
    padding: 10px;
  }
  main .calc h2 {
    font-size: 20px;
  }
  main .calc h4 {
    font-size: 16px;
  }
  main .sideMenu, main .calc, main form {
    width: 100%;
    float: none;
  }
}
/*# sourceMappingURL=exchange.css.map */