main {
  margin-top: 54px;
  font-size: 16px;
  padding: 0 20px 100px;
  overflow: hidden;
}

.sectionTitle {
  margin: 20px 0;
}

a {
  color: #3D4B71;
}

.profileCard {
  color: #3D4B71;
  background-color: #F4F4F4;
  width: calc(50% - 20px);
  float: left;
  padding: 20px;
  border-radius: 4px;
  overflow: hidden;
  padding-top: 40px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 10px 20px;
}

.profileCard > div {
  float: left;
}

.profileCard .profileRight {
  width: 60%;
}

.profileCard .profileRight p {
  text-align: left;
  color: #454545;
}

.profileCard .profileRight > * {
  margin-bottom: 20px;
}

.profileCard .profileRight div {
  text-align: left;
}

.profileCard .profileRight div img {
  vertical-align: middle;
}

.profileCard .profileRight > a {
  display: block;
  text-decoration: underline;
  text-align: left;
}

.profileCard .profileRight .profileButton {
  background-color: #3D4B71;
  color: white;
  line-height: 50px;
  border-radius: 7px;
  max-width: 200px;
  text-decoration: none;
  text-align: center;
}

.profileCard .profileRight .profileButton img {
  vertical-align: middle;
}

.profileCard .profileLeft {
  width: 40%;
}

.profileCard .profileLeft img {
  display: block;
  margin: auto;
}

.profileCard .profileLeft img:first-child {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.profileCard .profileLeft > img:last-of-type {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.profileInfo {
  clear: both;
  border: 1px solid #3D4B71;
  position: relative;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  float: left;
  text-align: left;
}

.profileInfo::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 100px;
  top: -6px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-top: 1px solid #3D4B71;
  border-right: 1px solid #3D4B71;
}

.profileInfo div {
  width: 50%;
  float: left;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.profileInfo div h3 {
  color: #9D9D9D;
  margin-bottom: 20px;
}

.profileInfo div p {
  color: #454545;
}

@media (max-width: 600px) {
  .sideMenu {
    width: auto;
    margin: auto;
    margin-bottom: 50px;
  }
  .profileCard {
    max-width: none;
    margin: 0 auto 10px;
    width: 100%;
  }
  .profileCard .profileLeft {
    width: auto;
  }
  .profileCard > div {
    float: none;
  }
  .mainRight {
    width: auto;
  }
  .profileCard .profileRight {
    width: auto;
  }
  .profileEmail {
    text-align: center !important;
  }
  .mainRight #orangeVip {
    float: none;
    margin: auto;
    margin-bottom: 50px;
  }
  .mainRight .profileInfo {
    width: auto;
  }
  .mainRight .profileInfo::after {
    display: none;
  }
  .profileInfo div {
    width: auto;
  }
}
/*# sourceMappingURL=profile.css.map */