*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}
a{
    text-decoration: none;
}
header{
    background: white;
    float: left;
    width: 100%;
}
#logo{
    float: left;
    padding: 0 20px;
}
#logo img{
    height: 32px;
    margin: 11px 0;
    display: block;
    float: left;
    margin-right: 20px;
}
#logo img:last-child{
    height: 12px;
    margin: 21px 0;
}
.menu{
    list-style: none;
    float: left;
}
.menu nav{
    background: #eee;
    transition: 0.3s;
    transform: translateY(-100%);
    position: absolute;
    left: 0;
}
.menu li>a{
    position: relative;
    z-index: 999;
    background: white;
}
.menu li:hover nav{
    transform: translateY(0%);
}
.menu li{
    float: left;
    position: relative;
}
.menu li a{
    display: block;
    line-height: 54px;
    padding: 0 20px;
    color: #5D5D5D;
}
#loginButton{
    float: right;
    padding: 0 20px;
}
#loginButton img{
    display: block;
    float: left;
    height: 22px;
    margin: 16px 0;
}
#loginButton p{
    float: left;
    line-height: 54px;
    margin-left:15px;
    color: #5D5D5D;
}
.banner{
    background: #3D4B71;
    padding-top: 200px;
    color: white;
    text-align: center;
}
.banner h1{
    font-size: 45px;
    margin-bottom: 30px;
}
.banner p{
    font-size: 18px;
}
.banner a{
    display: inline-block;
    padding: 20px 50px;
    text-decoration: underline;
    text-decoration-color: transparent;
    color: #F2923B;
    margin: 50px 0;
}
.banner a:hover{
    text-decoration-color: #F2923B;
}
.banner img{
    margin: 0 20px;
    width: 174px;
}
.banner div:last-child{
    font-size: 0;
}
main{
    text-align: center;
    padding-bottom: 200px;
}
.mainPageCard{
    display: inline-block;
    margin: 40px 20px;
    position: relative;
    color: #3D4B71;
}
.mainPageCard div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
}
.mainPageCard h2{
    font-size: 36px;
    margin-bottom: 46px;
    text-shadow: 1px 2px 0 #F6F6F6;
}
.mainPageCard a{
    display: block;
    font-size: 18px;
    border: 1px solid #3D4B71;
    width: 170px;
    line-height: 50px;
    border-radius: 7px;
    margin-bottom: 17px;
    color: #3D4B71;
}
.mainPageCard a:nth-child(2){
    background: #3D4B71;
    color: white;
}